<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/app.css">
    <title>Forex Currency Converter</title>
</head>
<body>

    {% for msg in get_flashed_messages()%}
    <p>{{msg}}</p>
    {% endfor %}

    {% block content%}
    <form action="/converted" method="POST">
        <label for="to_curr">Convert to:</label>
        <input type="text" name="to_curr">

        <label for="from_curr">Convert from:</label>
        <input type="text" name="from_curr">

        <label for="amount">Amount:</label>
        <input type="text" name="amount">

        <button>Convert</button>
    </form>
    {% endblock %}

</body>
</html>